<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftPracticeDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5CB181651F32CA9D00FC19A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CB181791F32CA9E00FC19A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CB181841F32CA9E00FC19A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
